@font-face {
    font-family: "Young Serif";
    src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Outfit";
    src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
}



body {
    margin: 0;
    font-family: "Outfit";
    color: hsl(30, 10%, 34%);
    background-color: hsl(0, 0%, 100%);
}

#page-container {
    margin: 2rem;
}

img {
    width: 100%;
}

h1 {
    color: hsl(24, 5%, 18%);
    font-family: "Young Serif", "PT sans";
}

h2 {
    font-family: "Young Serif", "PT sans";
    color: hsl(14, 45%, 36%);
}

#preparation-time-container {
    background-color: hsl(330, 100%, 98%);
    padding: 1rem;
    border-radius: 1rem;
}

#preparation-time-heading {
    color: hsl(332, 51%, 32%);
}

#preparation-time-container ul li::marker {
    color: hsl(332, 51%, 32%);
}

#ingredients-list li::marker,
ol li::marker  {
    color: hsl(14, 45%, 36%);
}











.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }